<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><b>Transações feitas:</b></p>
    <ul>
        {% for transacao in transacoes %}
            <li><a href="{% url 'url_update' transacao.id %}"><b>Nome:</b> {{ transacao.descricao }}
                <b>Data:</b> {{ transacao.data }}
                <b>Valor:</b> {{ transacao.valor }}
                <b>Categoria:</b> {{ transacao.categoria }}
                <b>Observações:</b> {{ transacao.obs }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'url_novaT'%}">Nova transacao</a>
</body>
</html>